<h1>Search Results ( <%= @researches.size %> )</h1>

<ul>
  <% @researches.each do |research| %>
    <li>
      <h3>
        <%= link_to research.try(:highlight).try(:title) ? research.highlight.title[0].html_safe : research.title,
          controller: "researches",
          action: "show",
          id: research._id%>
      </h3>
      <% if research.try(:highlight).try(:abstract) %>
        <% research.highlight.abstract.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p>
        <% end %>
      <% end %>
      <% if research.try(:highlight).try(:future) %>
        <% research.highlight.future.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p>
        <% end %>
      <% end %>
      <% if research.try(:highlight).try(:significance) %>
        <% research.highlight.significance.each do |snippet| %>
          <p><%= snippet.html_safe %>...</p>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>