<!DOCTYPE html>
<html>
<head>
  <title>Tanglaw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/assets/images/favicon.ico' %>
</head>
<body>

<div id="search" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
                <form class="form-horizontal input-group" action="http://localhost:3000/search" method="get">
                  <input type="text" name="q" class="form-control" placeholder="Search for Innovations" />

                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form class="form-horizontal" role="form">
                                      <div class="form-group">
                                        <label for="filter">Filter by</label>
                                        <select class="form-control">
                                            <option value="0" selected>All Filters</option>
                                            <option value="1">Featured</option>
                                            <option value="2">Most popular</option>
                                            <option value="3">Top rated</option>
                                            <option value="4">Most commented</option>
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <label for="contain">Author</label>
                                        <input class="form-control" type="text" />
                                      </div>
                                      <div class="form-group">
                                        <label for="contain">Contains the words</label>
                                        <input class="form-control" type="text" />
                                      </div>
                                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
                </form>
              </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<a id="menu-toggle" href="" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>


<%= render 'static/nav1.html.erb' %>

<%= yield %>

</body>
</html>
