<%stylesheet_link_tag "show_research.scss"%>

<div class = "container", id = "main-container">
  <div class = "row"><h1><%= @research.title %></h1></div>

  <div class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6 properties">
      <div class = "row property">
        <strong>Author:</strong>
        Joy Tan
      </div>

      <div class = "row property">
        <strong>Significance:</strong>
        It can change how the world works.
      </div>

      <div class = "row property">
        <strong>Future:</strong>
        Further research about the topic is needed
      </div>

      <div class = "row property">
        <strong>Abstract:</strong>
        <%= @research.abstract %>
      </div>

      <div class = "row property">
        <strong>Categories:</strong> <br>
        <% @research.categories.each do |category| %>
        <%= category.name %> <br>
        <% end %>
      </div>

      <div class = "row property">
        <% unless @research.attachment_url.blank? %>
        <iframe src="<%="http://localhost:3000"+ @research.attachment_url%>" style="width:718px; height:700px;" frameborder="0"></iframe>
          <%= link_to "Download Research", @research.attachment_url %>
          <%= button_to "Delete", @research, method: :delete, class: "btn btn-danger", confirm: "Are you sure?" %>
        <% end %>
      </div>
    </div>
    <div class = "col-md-3"></div>
  </div>

  <div class = "row edit-back">
    <%= link_to 'Edit', edit_research_path(@research), class: "edit-back" %> |
    <%= link_to 'Back', researches_path, class: "edit-back" %>
  </div>

  <div class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6 properties">
      <div class = "row">
        <strong>Continuations</strong>
        <% @research.followers.each do |continuation| %>
        <div class = "row property">
          <%= continuation.title %>
        </div>
        <% end %>
        <% if @research.followers.empty? %>
        <div class = "row property">
          <%= "Help this progress by clicking the button below!" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class = "col-md-3"></div>
  </div>
  <div class = "row edit-back">
    <%= link_to "Isulong", new_research_path(:id => @research.id), class: "edit-back" %>
  </div>
</div>
