<p id="notice"><%= notice %></p>


<div id="main-container" class="container">

  <div class="row">
    <div class="col-xs-12">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end -%>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <h3>Tanglaw Database</h3>
    </div>
    <div class="col-xs-9">
      <h1>Registered Accounts</h1>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Affiliation</th>
            <th colspan="3">Admin Operations</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.password %></td>
              <td><%= user.f_name %></td>
              <td><%= user.l_name %></td>
              <td><%= user.affiliation %></td>
              <td><%= link_to 'Show', user, class: 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info btn-xs'%></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to new_user_path, class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-plus"></i> Add a User
      <% end %>
    </div>
  </div>
</div>
