<%= stylesheet_link_tag "new_user.scss" %>
<% provide(:title, 'Sign up') %>

<div id="main-container" class="container">


<div class = "row" id = "header">
  Sign up
</div>
<div class="row">
  <div class="col-md-4" id = "form">
    <%= form_for(@user) do |f| %>
      <%= f.label :First_name %>
      <%= f.text_field :f_name, class: "text_field"%>

      <%= f.label :Last_name %>
      <%= f.text_field :l_name, class: "text_field"%>

      <%= f.label :username %>
      <%= f.email_field :username, class: "text_field"%>

      <%= f.label :password %>
      <%= f.password_field :password, class: "text_field"%>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: "text_field"%>

      <%= f.label :affiliation %>
      <%= f.text_field :affiliation, class: "text_field"%>


      <%= f.submit "Create my account", class: "btn btn-primary button" %>
    <% end %>
  </div>
</div>
