<% provide(:title, "Log in") %>

  
  <div id="main-container" class="container">

  <div class="row">
    <div class="col-xs-12">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end -%>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <h3>Join Our Community!</h3>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Log in</h1>
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :username %>
            <%= f.email_field :username, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
          <% end %>


            <%= link_to new_user_path, class: 'btn btn-success' do %>
              <i class="glyphicon glyphicon-plus"></i> Sign Up
            <% end %>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>




